%p#notice= notice

%p
  %b Корзина
%p
  %b Пользователь:
  = @order.user.email
  = link_to @order.user, class: 'btn btn-link' do
    = fa_icon 'arrow-circle-right'
    Показать
%p
  %b Адрес доставки:
  = @order.address
%p
  %b Статус:
  = @order.status_view
%p
  %b Комментарий:
  = @order.comment
%p
  %b Список товаров:
  .row
    - @order.line_items.each do |item|
      .col-md-2
        .list-group.ul
          .list-group-item.active.li
            .span.badge= item.quantity
            = item.product.title
          .list-group-item.li
            = item.product.description
          .list-group-item.li
            .span.badge= fa_icon 'ruble'
            = number_to_currency(item.price * item.quantity,
              separator: ',', delimiter: '', format: '%n')
          .list-group-item.li
            .span.badge= item.color
= link_to 'Назад', orders_path
