.page-header
  .fa.fa-shopping-cart.fa-4x.li
    Ваша корзина

.row
  .col-md-3
    .list-group
      .list-group-item.active
        .fa.fa-pencil.li
          Название
      .list-group-item
        .fa.fa-info-circle.li
          Описание
      .list-group-item
        .fa.fa-ruble.li
          Цена
      .list-group-item
        .fa.fa-tags.li
          Количество
      .list-group-item
        .fa.fa-paint-brush.li
          Цвет

.row
  - @current_order.line_items.each do |item|
    .col-md-3
      .list-group
        .list-group-item.active
          .fa.fa-pencil.li
            #{item.product.title}
        .list-group-item
          .fa.fa-info-circle.li
            #{item.product.description}
        .list-group-item
          .fa.fa-ruble.li
            #{number_to_currency(item.price * item.quantity, separator: ",", delimiter: "", format: "%n")}
        .list-group-item
          .fa.fa-tags.li
            %span.btn.btn-group
              = link_to line_item_path(id: item.id, place: 'order'), class: 'btn btn-default', data: { method: :delete, confirm: 'Вы уверены?' } do
                = fa_icon "minus"
              = link_to "#{item.quantity} шт", @current_order, class: 'btn btn-default'
              = link_to line_items_path(id: item.id, place: 'order'), class: 'btn btn-default', data: {method: :post} do
                = fa_icon "plus"
        .list-group-item
          .fa.fa-tags.li
            = item.product.color_name
            .fa.fa-square{ style: "color: #{item.product.set_color} !important" }
-total_count = 0; total_price = 0
-@current_order.line_items.each { |item| total_count += item.quantity; total_price += item.price * item.quantity }
.row
  .col-md-4
    .list-group
      .list-group-item
        .fa.fa-list.li
          Итого:
      .list-group-item
        .fa.fa-info-circle.li
          Всего товарных позиций: #{@current_order.line_items.size}
        .br
        .li
          Всего товаров:
          = total_count
      .list-group-item
        .fa.fa-ruble.li
          Цена:
          = total_price

= link_to @current_order, data: { method: :delete, confirm: 'Вы хотите отменить заказ?' }, class: 'btn btn-primary' do
  = fa_icon "times-circle"
  Очистить корзину
= link_to root_path, class: 'btn btn-info' do
  = fa_icon "external-link-square"
  Вернуться к выбору товаров
= link_to '#order_processing', class: 'btn btn-danger', data: { toggle: 'collapse' } do
  = fa_icon "money"
  Оформить заказ

.div.collapse#order_processing
  = form_for @current_order, data: { method: :patch }, url: order_path(@current_order) do |f|
    = error_messages_for(@current_order)
    .row
      .col-md-3
        .form-group
          = f.label :fio
          = f.text_field :fio, class: 'form-control'
      .col-md-3
        .form-group
          = f.label :address
          = f.text_field :address, class: 'form-control'
    .row
      .col-md-3
        .form-group
          = f.label :phone
          = f.text_field :phone, class: 'form-control'
      .col-md-3
        .form-group
          = f.label :comment
          = f.text_field :comment, class: 'form-control'
    .actions= f.submit nil, class: 'btn btn-primary'
