.div.product-show-block.content
  .h1.nomargin= @product.title

  .row.nomargin
    %b
    -if @product.image?
      = link_to @product.image.url do
        = image_tag @product.image.url(:medium), alt: @product.title
    -else
      .li.text-danger
        Изображение отсутствует!
  %br
  .row.nomargin
    %b Описание:
    = @product.description
  %br
  .row.nomargin
    %b Цена:
    = number_to_currency(@product.price, unit: "\u20BD", separator: ",", delimiter: "", format: "%n %u")
  %br
  .row.nomargin
    %b Цвет:
    = @product.color_name
    .fa.fa-square{ style: "color: #{@product.set_color} !important" }
  %br
  -if !@current_user || @current_user.present? && !@current_user.moderator?
    = link_to line_items_path(product_id: @product.id), data: { method: :post }, title: 'Добавить в корзину' , class: 'btn btn-success' do
      = fa_icon "cart-plus", class: 'fa-2x'
    = link_to @current_order, class: 'btn btn-info', title: 'Перейти к корзине' do
      = fa_icon "share", class: 'fa-2x'
  -if @current_user.present? && @current_user.moderator?
    = link_to edit_product_path(@product), class: 'btn btn-warning', title: 'Редактировать' do
      = fa_icon "pencil", class: 'fa-2x'
    = link_to @product, method: :delete, data: { confirm: 'Вы уверены?' }, title: 'Удалить', class: 'btn btn-danger' do
      = fa_icon "remove", class: 'fa-2x'

.div.product-show-block.listing
  .h1.nomargin Похожие товары
  %br

  -@same_products.each do |same|
    .row.same_product_show
      .same_product_image_block
        = link_to same.image.url do
          = image_tag same.image.url(:thumb), alt: same.title
      .same_product_info_block
        .same_product_title
          = same.title
        Цена:
        = number_to_currency(same.price, unit: "\u20BD", separator: ",", delimiter: "", format: "%n %u")
      .same_product_info_block
        = link_to same, class: 'btn btn-info', title: 'Подробнее' do
          = fa_icon "arrow-right", class: 'fa-2x'
    %br
  %br
  = link_to products_path, class: 'btn btn-primary same_product_big_link' do
    = fa_icon "reply"
    Все товары