.page-header
  %h1 Корзина
-if @line_items.blank?
  .alert.alert-info В корзине нет товаров
-else
  .row
    -@line_items.each_with_index do |line_item, i|
      .col-md-4
        .list-group
          .list-group-item
            %span.text-danger= "#{i + 1}"
            \|
            %span
              %span
                = link_to line_item.product.image.url do
                  = image_tag line_item.product.image.url(:thumb), alt: line_item.product.title
              %span
                %span
                  = line_item.product.title
                %br
                %span
                  = line_item.quantity
                  &times;
                  = number_to_currency(line_item.price)
                  = "= #{number_to_currency(line_item.total_price)}"
                  %span.btn.btn-group
                    = link_to line_item_path(id: line_item.id, place: 'line_items'), class: 'btn btn-default', data: { method: :delete, confirm: 'Вы уверены?' } do
                      = fa_icon "minus"
                    = link_to line_items_path(id: line_item.id, place: 'line_items'), class: 'btn btn-default', data: { method: :post } do
                      = fa_icon "plus"
.br

= link_to @current_order, data: { method: :delete, confirm: 'Вы точно хотите очистить корзину?' }, class: 'btn btn-primary' do
  = fa_icon "times-circle"
  Очистить корзину
= link_to root_path, class: 'btn btn-info' do
  = fa_icon "external-link-square"
  Вернуться к выбору товаров
= link_to '#order_processing', class: 'btn btn-danger', data: { toggle: 'collapse' } do
  = fa_icon "money"
  Оформить заказ

.div.collapse#order_processing
  = form_for @current_order, data: { method: :patch }, url: submit_order_order_path(@current_order) do |f|
    = error_messages_for(@current_order)
    .row
      .col-md-3
        .form-group
          = f.label :fio
          = f.text_field :fio, class: 'form-control'
      .col-md-3
        .form-group
          = f.label :address
          = f.text_field :address, class: 'form-control'
    .row
      .col-md-3
        .form-group
          = f.label :phone
          = f.text_field :phone, class: 'form-control'
      .col-md-3
        .form-group
          = f.label :comment
          = f.text_field :comment, class: 'form-control'
    .actions= f.submit 'Оформить заказ', class: 'btn btn-primary'
    -#TODO добавить крестик на удаление товара (всего)
